main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.upper{
    background-color: #FFF8F3;
}
/* Nav styles  */
.pri_bg_color{
    background-color: #FFFFFF;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 226px;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* shared classes */
.section-title{
    font-size: 35;
    font-weight: bold;
}
.section_descrip{
    font-size: 18px;
    font-weight: normal;
}
.text_primary {
    color: #FD6E0A;
}
.dark_1{
    color: #181818;
}
.dark_2{
   color: #474747; 
}
.dark_3{
    color: #757575;
}

.btn_primary{
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
    border: #FFFFFF;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right:51px ;
   
    
}

nav li a{
     text-decoration: none;
     font-size: 20px;
     
}
/* banner stylkes  */
.banner_heading{
    font-weight:600;
    font-size: 45px;
}
.banner_title{
    font-weight: bold;
    font-size: 60px;
}
.baanner_description{
    font-size: 18px;
    font-weight: normal;
}
.profile_pic{
    max-width: 580px;
    height: 670px;

}
.banner{
    display: flex;
    justify-content: space-between;
    margin:0px 230px;
    margin-right: 38px;

}
.banner-content{
    width: 585px;
    height: 356px;
}
.header{
    background-image: url(../images/developer.png );
    background-repeat: no-repeat;
}
#contact{
     background-color: #FFF8F3;
     color:  #FD6E0A;
     border: solid  #FD6E0A;
     border-radius: 5px;
    padding: 18px 35px;
}
.about{
    max-width: 1130px;
    margin: 0px auto;
    border-radius: 10px;
    padding:131px 157px ;
    background-color: #FFF8F3;
    text-align: center;
    margin-top: 130px;
}
.item_description{
    font-size: 20px;
    font-weight: bold;
    color: #474747; 
}
.item_title{
    font-size: 20px;
    font-weight: normal;
    color: #757575;
}
.items{
    display: flex;
    justify-content: space-around;
}
.about_padding{
    margin-top: 10px ;

}
.second-section{
    max-width: 1130px;
    margin: 0px auto;
    text-align: center;
    margin-top: 130px;
   
}
  

.skills{
    display:flex ;
    flex-direction: row;
    margin-top: 50px;
    gap: 24px;


}
.skill{
   padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.resumne_container{
    display: flex;
    flex-direction: row;
    gap: 24px;
    
}
.resume{

margin-left: 400px;
}
.section_title{
    margin-left: 400px;
}

.experience_des{
width: 511px;
    height: 175px;
}
.cv_button{
    margin:50px;
    margin-left: 450px;
    
}
footer{
    background-color:rgba(255, 248, 243, 1);
    padding: 130px 230px;
    display: flex;
  
    gap: 100px;
}
footer input[type="text"]{
height: 64px;
border-radius: 5px;
background-color: #FFF8F3;
display: block;
width: 100%;
}
.inbox {
    margin-left: 0;
    text-align: left;
}

.footer_column {
    flex: 1;
}

footer form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

footer textarea {
    height: 180px;
    border-radius: 5px;
    background-color: #FFF8F3;
    padding: 10px;
    resize: none;
}
.last_one{
    margin-top: 50px;
}
.icons{
    display: flex;
    gap: 10px;
}
.hide{
    display: none;
}
@media screen and (max-width:576px) {
   .skills{
    display:flex ;
    flex-direction:column;
   }
   .resumne_container{
    display: flex;
    flex-direction: column;
   }
   footer{
    padding: 20px;
    display: flex;
    flex-direction: column;
   }
   .section_title{
    margin-left: 40px;
}
.about{
    padding: 20px;

}
.items{
    flex-direction: column;
}
    
}